footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  min-height: 60px;
  font-size: 10px;
  color: var(--muted);
}
footer > div {
  display: flex;
  gap: 25px;
}
.noscript {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background: #101115;
  color: var(--accent);
  z-index: 5;
}
